.wetherBg{
  background: url("https://img.freepik.com/free-photo/dramatic-landscape-view-with-sun-rays-shining-through-dark-cloudy-sky_181624-45676.jpg?w=900&t=st=1685528811~exp=1685529411~hmac=48fba147a037c481f1312825e92263adf0d2db1e94621ede6c14d2f2bf6a890b");
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading{
  color:black;
  font-weight: 700;
}
.wetherResultBox{
  margin: auto;
  width: 300px;
  height: 200px;
}
.weathorIcon{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}
.weatherCity{
  font-size: 35px;
}
.weatherTemp{
  font-size:55px;
  font-weight: 700;
}